*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
}
/* -----------main---------- */
main{
    /* top:50px; */
    margin:4rem;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("stay.jpeg");
}
.container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 15px;
    background-color: transparent;
}
.content {
    width: 50%;
    color:white;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    margin-left:12%;
}
.content h1 {
    font-size: 3rem;
    font-weight: bold;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color:white;
}
.content p {
    font-size: 1rem;
    margin-top: 10px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color:white;
}
.login-box {
    width: 40%;
    background: rgba(255, 255, 255, 0.1);
    /* background-color: aqua; */
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
}
form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
}
.box{
    /* background: rgba(255, 255, 255, 0.1); */
    background:white;
    border-radius: 5px;
    border:1px solid black;
}
.login-box label {
    font-size: 14px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color:white;
}
.box:hover{
    border:2px solid black;
}
input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    /* border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    border:1px solid white; */
    border:none;
    color:black;
    outline:none;
}

.signin-btn {
    background: #007bff;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-account {
    text-align: center;
    margin-top: 10px;
    background-color: transparent;
}
.create-account a {
    color: blue;
    text-decoration: none;
    background-color: transparent;
}