.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 60px;
    background-color: #F29F05;
    background-color: #246A73;
    color: white;
    padding: 16px 36px;
    font-size:15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
.chatbot-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 580px;
    height:520px;
    background-color: white;
    border: 2px solid #007bff;
    border: 2px solid #ddbea8;
    border-radius: 12px;
    display: none;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.chatbot-popup iframe {
    width: 100%;
    height: 92.7%;
    border: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.chatbot-header {
    background-color: #ddbea8;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chatbot-close {
    position: absolute;
    top: 8px;
    right: 12px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}