*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    /* background-color:#F3DFC1; */
}
footer{
    background-color: black;
    color:white;
    width:100vw;
    position:relative;
    bottom:0px;
}
.navbar{
    width: 100vw;
    height:56px;
    z-index: 100;
    /* background-color:pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right:1rem;
    /* padding-left: 1rem; */
    position:fixed;
    top:0px;
}
.login{
    /* background-color: violet; */
    display:flex;
    align-content: center;
    margin-right: 1rem;
    height: 40px;
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    padding:0.5rem;
}
.login:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin{
    background-color: #246A73;
    color:white;
    font-size:1rem;
    height: 40px;
    width:10%;
    padding:0.6rem;
    border-radius: 1rem;
    margin-right: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.signin:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin i{
    font-size: 1.5rem;
    /* color:black; */
    height:20px;
    background-color: #246A73;
    color:white;
    margin-right: 1rem;
    /* background-color: white; */
}
.signin a{
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.login a{
    text-decoration: none;
}
.logo{
    height: 50px;
    display: flex;
    width: 30%;
    font-size: 1rem;
    /* background-color: red; */
    padding-left: 2rem;
}
.logo img{
    border-radius: 50%;
}
.logo p{
    font-size: 2rem;
    font-weight: 900;
    font-style: bold ;
    padding:0.4rem
}
.footone{
    /* margin-top:1rem; */
    background-color:black;
    text-align: center;
    padding-top:1.4rem;
    height:10%px;
}
.footone p,h4 {
    background-color: black;
    margin-bottom: 0.5rem;
    color: white;
}
.foottwo{
    /* height:200px; */
    height:30vh;
    /* background-color: aquamarine; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footdiv{
    width:18%;
    position:relative;
    height:70%;
    /* background-color: blue; */
    padding:1.3rem;
    font-weight: 600;
}
.footdiv ul{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 100;
    list-style: none;
}
.one p{
    font-size: 0.9rem;
    font-weight: 100;
}
.log{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: -50px;
}
.log p{
    font-size: 1rem;
    font-weight: 600;    
}
.one img{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.footthree{
    background-color:white;
    color:rgb(0,0,0,0.5);
    /* height: 40px; */
    height:18%;
    text-align:center;
    padding-top :0.7rem;
}
.socmedia{
    margin-top: 1rem;
}
.socmedia i{
    margin-right:0.5rem;
}
.sidebar{
    /* background-color: red; */
    height:40px;
    width:25%;
}
.btnone{
    color:Black;
    font-size:2rem;
    font-weight:700;
    position:absolute;
    left:5%;
    /* line-height: 10px; */
}
.name{
    padding-left:0.2rem;
}
.sidemenu{
    position: fixed;
    background-color:rgb(255,255,255,0.5);
    height:100vh;
    width:25vw;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    left:-550px;
}
.menu ul{
    background-color:rgb(255,255,255,0.1);
}
.menu li{
    background-color:rgb(255,255,255,0.1);
}
.name h1{
    background-color:rgb(255,255,255,0.5);
}
.sidemenu .menu{
    position: absolute;
    width:95%;
    padding:0.4rem;
}
.sidemenu .btntwo i{
    color:rgb(0,0,0,0.5);
    /* opacity: 0; */
    font-size:1.8rem;
    position:absolute;
    top:3px;
    left:90%;
}
.sidemenu .menu li{
    margin-top:6px;
    padding:1rem;
    color:black;
    list-style: none;
}
.sidemenu .menu a{
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.sidemenu .menu i{
    margin-right:1rem;
}
#check{
    display:none;
}
.sidemenu .menu li:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.sidemenu .name h1{
    display:inline;
    background-color:rgb(255,255,255,0.5);
}
.btnone:hover{
    font-size:2.2rem;
    cursor:pointer;
}
.sidemenu .btntwo i:hover{
    font-size:2rem;
    cursor:pointer;
}
#check:checked ~ .sidemenu{
    left:0px;
}
.menu{
    background-color:rgb(255,255,255,0.5);
}
/* -----main--------- */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}


.reservation {
    padding: 50px 0;
}

.section-title {
    color: #b3985c;
    font-size: 16px;
    text-transform: uppercase;
}

.section-subtitle {
    font-size: 24px;
    font-weight: bold;
}

.reservation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn {
    background: #004b3f;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.reservation-image {
    position: relative;
    width: 40%;
}

.reservation-image img {
    width: 100%;
    border-radius: 10px;
}

.tags {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags span {
    background: #fff;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
}


.newsletter {
    background: #f9f9f9;
    padding: 40px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

.newsletter-form button {
    background: #004b3f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

