*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
    /* background-color:#F3DFC1; */
}
footer{
    background-color: black;
    color:white;
    width:100vw;
    position:relative;
    bottom:0px;
}
.navbar{
    width: 100vw;
    height:56px;
    z-index: 100;
    /* background-color:pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right:1rem;
    /* padding-left: 1rem; */
    position:fixed;
    top:0px;
}
.login{
    /* background-color: violet; */
    display:flex;
    align-content: center;
    margin-right: 1rem;
    height: 40px;
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    padding:0.5rem;
}
.login:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin{
    background-color: #246A73;
    color:white;
    font-size:1rem;
    height: 40px;
    width:10%;
    padding:0.6rem;
    border-radius: 1rem;
    margin-right: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.signin:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin i{
    font-size: 1.5rem;
    background-color: #246A73;
    color:white;
    /* color:black; */
    height:20px;
    margin-right: 1rem;
    /* background-color: white; */
}
.signin a{
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.login a{
    text-decoration: none;
}
.logo{
    height: 50px;
    display: flex;
    width: 30%;
    font-size: 1rem;
    /* background-color: red; */
    padding-left: 2rem;
}
.logo img{
    border-radius: 50%;
}
.logo p{
    font-size: 2rem;
    font-weight: 900;
    font-style: bold ;
    padding:0.4rem
}
.footone{
    /* margin-top:1rem; */
    background-color:black;
    text-align: center;
    padding-top:1.4rem;
    height:10%px;
}
.footone p,h4 {
    background-color: black;
    margin-bottom: 0.5rem;
    color: white;
}
.foottwo{
    /* height:200px; */
    height:30vh;
    /* background-color: aquamarine; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footdiv{
    width:18%;
    position:relative;
    height:70%;
    /* background-color: blue; */
    padding:1.3rem;
    font-weight: 600;
}
.footdiv ul{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 100;
    list-style: none;
}
.one p{
    font-size: 0.9rem;
    font-weight: 100;
}
.log{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: -50px;
}
.log p{
    font-size: 1rem;
    font-weight: 600;    
}
.one img{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.footthree{
    background-color:white;
    color:rgb(0,0,0,0.5);
    /* height: 40px; */
    height:18%;
    text-align:center;
    padding-top :0.7rem;
}
.socmedia{
    margin-top: 1rem;
}
.socmedia i{
    margin-right:0.5rem;
}
.sidebar{
    /* background-color: red; */
    height:40px;
    width:25%;
}
.btnone{
    color:Black;
    font-size:2rem;
    font-weight:700;
    position:absolute;
    left:5%;
    /* line-height: 10px; */
}
.name{
    padding-left:0.2rem;
}
.sidemenu{
    position: fixed;
    background-color:rgb(255,255,255,0.5);
    height:100vh;
    width:25vw;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    left:-550px;
}
.menu ul{
    background-color:rgb(255,255,255,0.1);
}
.menu li{
    background-color:rgb(255,255,255,0.1);
}
.name h1{
    background-color:rgb(255,255,255,0.5);
}
.sidemenu .menu{
    position: absolute;
    width:95%;
    padding:0.4rem;
}
.sidemenu .btntwo i{
    color:rgb(0,0,0,0.5);
    /* opacity: 0; */
    font-size:1.8rem;
    position:absolute;
    top:3px;
    left:90%;
}
.sidemenu .menu li{
    margin-top:6px;
    padding:1rem;
    color:black;
    list-style: none;
}
.sidemenu .menu a{
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.sidemenu .menu i{
    margin-right:1rem;
}
#check{
    display:none;
}
.sidemenu .menu li:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.sidemenu .name h1{
    display:inline;
    background-color:rgb(255,255,255,0.5);
}
.btnone:hover{
    font-size:2.2rem;
    cursor:pointer;
}
.sidemenu .btntwo i:hover{
    font-size:2rem;
    cursor:pointer;
}
#check:checked ~ .sidemenu{
    left:0px;
}
.menu{
    background-color:rgb(255,255,255,0.5);
}
.destli{
    margin:0.5rem;
    background-color:rgb(255,255,255,0.5);
}
details{
    /* background-color:rgb(255,255,255,0.6); */
    /* border:2px solid black; */
    background-color:transparent;
}
summary{
    /* background-color:rgb(255,255,255,0.6); */
    background-color:transparent;
}
.sump{
    background-color:transparent;
}
/* -----main------------ */

main{
    /* top:50px; */
    margin:4rem;
    position:relative;
}
.aboutcontent{
    height:80vh;
    width:80vw;
    /* background-color: red; */
    padding:1rem;
    display:flex;
    justify-content: space-evenly;
    margin:1rem;
}
.aboutimg1{
    width:40%;
    background-image: url("imagetaj.jpeg");
    background-size: cover;
    background-repeat: round;
    /* background-color:red; */
    height:70vh;
    display:inline-block;
    border-radius: 50%;
}
.aboutinfo{
    width:50%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.teammem{
    display:flex;
    /* background-color: aqua; */
    justify-content: space-between;
    padding:0px 90px 0px 90px;
    height:20px;
}
.abt{
    background-image: url("image11.jpeg");
    background-size:cover;
    height:100px;
    display: flex;
    align-items: center;
    justify-content:center;

}
.abt h1{
    background-color: transparent;
    color:rgb(0,0,0,0.7);
    /* color:rgb(0,0,0,0.7); */
}
.exp{
    height:60vh;
    width:85vw;
    /* background-color: aqua; */
    background-image: url("explo.jpeg");
    background-color: rgb(0,0,0,0.5);
    opacity:0.8;
    margin-right:2rem;
    margin-top:2rem;
    margin-left:2rem;
    display:flex;
    justify-content:center;
    align-items: center;;
}
.dare{
    background-color: transparent;
    font-size:2rem;
}
.dare h3{
    background-color: transparent;
    color:white;
}
.dare i{
    text-align: center;
    background-color: transparent;
    color:white;
    font-size:2rem;
}
.number{
    display:block;
    background-color: transparent;
}
.census{
    /* background-color: red; */
    height:30vh;
    width:80%;
    margin-left:7rem;
    position:relative;
    top:-80px;
    display:flex;
    justify-content: space-evenly;
    border:1px solid grey;
}
.cenbox{
    width: 25%;
    height:100%;
    /* background-color: blue; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    font-weight:500px;
    border-right:1px solid grey;
}
button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: darkblue;
}