*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: black;
    color:white;
    width:100vw;
    position:relative;
    bottom:0px;
}
.navbar{
    width: 100vw;
    height:56px;
    z-index: 100;
    /* background-color:pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right:1rem;
    /* padding-left: 1rem; */
    position:fixed;
    top:0px;
}
.login{
    /* background-color: violet; */
    display:flex;
    align-content: center;
    margin-right: 1rem;
    height: 40px;
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    padding:0.5rem;
}
.login:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin{
    background-color: #246A73;
    color:white;
    font-size:1rem;
    height: 40px;
    width:10%;
    padding:0.6rem;
    border-radius: 1rem;
    margin-right: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.signin:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin i{
    font-size: 1.5rem;
    background-color: #246A73;
    color:white;
    /* color:black; */
    height:20px;
    margin-right: 1rem;
    /* background-color: white; */
}
.signin a{
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.login a{
    text-decoration: none;
}
.logo{
    height: 50px;
    display: flex;
    width: 30%;
    font-size: 1rem;
    /* background-color: red; */
    padding-left: 2rem;
}
.logo img{
    border-radius: 50%;
}
.logo p{
    font-size: 2rem;
    font-weight: 900;
    font-style: bold ;
    padding:0.4rem
}
.footone{
    /* margin-top:1rem; */
    background-color:black;
    text-align: center;
    padding-top:1.4rem;
    height:10%px;
}
.footone p,h4 {
    background-color: black;
    margin-bottom: 0.5rem;
    color: white;
}
.foottwo{
    /* height:200px; */
    height:40vh;
    /* background-color: aquamarine; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footdiv{
    width:18%;
    position:relative;
    height:70%;
    /* background-color: blue; */
    padding:1.3rem;
    font-weight: 600;
}
.footdiv ul,.footdiv li{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 100;
    list-style: none;
}
.one p{
    font-size: 0.9rem;
    font-weight: 100;
}
.log{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: -50px;
}
.log p{
    font-size: 1rem;
    font-weight: 600;    
}
.one img{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.footthree{
    background-color:white;
    color:rgb(0,0,0,0.5);
    /* height: 40px; */
    height:18%;
    text-align:center;
    padding-top :0.7rem;
}
.socmedia{
    margin-top: 1rem;
}
.socmedia i{
    margin-right:0.5rem;
}
.sidebar{
    /* background-color: red; */
    height:40px;
    width:25%;
}
.btnone{
    color:Black;
    font-size:2rem;
    font-weight:700;
    position:absolute;
    left:5%;
    /* line-height: 10px; */
}
.name{
    padding-left:0.2rem;
}
.sidemenu{
    position: fixed;
    background-color:rgb(255,255,255,0.5);
    height:100vh;
    width:25vw;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    left:-550px;
}
.menu ul{
    background-color:rgb(255,255,255,0.1);
}
.menu li{
    background-color:rgb(255,255,255,0.1);
}
.name h1{
    background-color:rgb(255,255,255,0.5);
}
.sidemenu .menu{
    position: absolute;
    width:95%;
    padding:0.4rem;
}
.sidemenu .btntwo i{
    color:rgb(0,0,0,0.5);
    /* opacity: 0; */
    font-size:1.8rem;
    position:absolute;
    top:3px;
    left:90%;
}
.sidemenu .menu li{
    margin-top:6px;
    padding:1rem;
    color:black;
    list-style: none;
}
.sidemenu .menu a{
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.sidemenu .menu i{
    margin-right:1rem;
}
#check{
    display:none;
}
.sidemenu .menu li:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.sidemenu .name h1{
    display:inline;
    background-color:rgb(255,255,255,0.5);
}
.btnone:hover{
    font-size:2.2rem;
    cursor:pointer;
}
.sidemenu .btntwo i:hover{
    font-size:2rem;
    cursor:pointer;
}
#check:checked ~ .sidemenu{
    left:0px;
}
.menu{
    background-color:rgb(255,255,255,0.5);
}
li.lili{
    margin: 0px;
}
/* -----------main---------- */
main{
    /* top:50px; */
    margin-top:1rem;
    margin-left:4rem;
    margin-right:4rem;
    position:relative;
}

input,button,select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pointdiv{
    /* background-color: aqua; */
    margin-top:2rem;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: darkblue;
}
.hoteldiv{
    /* background-color: pink; */
    height:30vh;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
}
.hoteldiv ul{
    list-style:none;
    margin:1rem;
}
.hoteldiv li{
    list-style:none;
    margin:1rem;
}
.ddd{
    height:70%;
    width:25%;
    padding:1.5rem;
    /* background-color: aliceblue; */
}


/* -------hotel------- */


.hotel{
    /* border:3px solid #246A73; */
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #246A73;
}
.himg{
    height:500px;
    width:700px;
    padding:10px;
    border-radius: 18px;
}
.hoteldes{
    padding:10px;
    /* border-left:3px solid #246A73; */
}
.room{
    /* border:3px solid #246A73; */
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(255,0,0, 0.3);
    width:70%;
    /* justify-content: space-evenly; */
}
.rimg{
    height:400px;
    width:400px;
    padding:10px;
    border-radius: 18px;
}
.roomdes{
    padding:10px;
    text-align: left;
}
.roomextra{
    padding:10px;
    text-align: left;
}
.rul{
    list-style: none;
}
.rli{
    color:green;
    font-weight: 900;
}
.pricee{
    display:flex;
    justify-content: space-between;
}
.btnn{
    position:relative;
    /* left:20%; */
    padding-top:20px;
    border-radius: 10px;
    background-color: #246A73;
    font-size:20px;
}
.guest-reviews {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Title */
.title {
    font-size: 22px;
    font-weight: bold;
}

/* Rating Box */
.rating-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rating-box {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
}

.rating-text {
    font-size: 18px;
    margin-left: 10px;
}

/* Categories */
.categories {
    margin-top: 15px;
}

.category {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.bar-container {
    width: 60%;
    background-color: #ddd;
    height: 6px;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
}

.bar {
    height: 100%;
    background-color: green;
    border-radius: 5px;
}

.wifi-bar {
    background-color: red;
}

.score {
    margin-left: 10px;
    font-weight: bold;
}

.wifi-text {
    color: red;
}
.facility{
    padding:20px;
}