*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

/* -----------main---------- */

main{
    /* top:50px; */
    margin-top:4rem;
    margin-left:4rem;
    margin-right:4rem;
    position:relative;
}
.abt{
    background-image: url("roomm.jpeg");
    background-size:cover;
    height:70vh;
    width:100%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom:1rem;
    flex-direction: column;

}
.abt h1{
    background-color:rgb(0,0,0,0.7);
    height:45px;
    width:50%;
    text-align: center;
    color:rgb(255,255,255);
    background-color: transparent;
}
.abtp{
    background-color:rgb(0,0,0,0.7);
    height:45px;
    width:50%;
    text-align: center;
    color:rgb(255,255,255);
    background-color: transparent;
}
.ser{
    margin-top:3%;
    margin-bottom:3%;
    height:400px;
    display:flex;
    justify-content: center;
}
.ser1{
    background-color: violet;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5); 
    border:2px solid #246A73;
    border:3px solid #ffd700;
    width:30%;
}
.ser1content{
    /* background-color: purple; */
    margin-right:-2%;
    position:relative;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);  
    border:3px solid #ffd700;
    border:2px solid #246A73;
    top:10%;
    z-index: 1;
    height:80%;
    width:35%;
    box-sizing: border-box;
    padding:2%;
}
.ser1contentt{
    padding:2%;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);  
    border:3px solid #ffd700;
    margin-left:-2%;
    position:relative;
    top:10%;
    z-index: 1;
    height:80%;
    width:35%;
}
.se2{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url("hotel44.jpeg");
    background-size: cover;
    background-repeat: round;
}
.ratediv{
    display:flex;
    justify-content: space-between;
}
.rating{
    position: relative;
    z-index:1;
    top: 25px;
    right: 10px;
    font-size: 20px;
    color: black; 
    background-color: transparent;
}
.rating span{
    background-color: transparent;
    color: #ffd700;
}
.serv{
    height:400px;
    display:flex;
    justify-content: space-evenly;
    margin-left:4%;
}
.ser11{
    width:40%;
}
.ser1contenty{
    width:40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.se11{
    background-image: url("restaurent.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se22{
    background-image: url("pool.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se33{
    background-image: url("club.jpeg");
    background-size: cover;
    background-repeat: round;
}
.searchhotel {
    padding: 20px;
    padding:1%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
}
input,datalist,button,select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: darkblue;
}
.info{
    height: 30%;
    display:flex;
    justify-content: center;
    padding:1rem;
}
.info1{
    width:50%;
    text-align:center;
    font-size:0.8rem;
    margin: 1rem;
}
.info1 p{
    color:rgb(0,0,0,0.9);
    margin-top:1rem;
}
.info i{
    display:block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}