*{
    margin:0px;
    padding:0px;
    background-color: white;
    color: #000000;
    /* background-color:#F3DFC1; */
}
footer{
    background-color: black;
    color:white;
    width:100vw;
    position:relative;
    bottom:0px;
}
.navbar{
    width: 100vw;
    height:56px;
    z-index: 100;
    /* background-color:pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right:1rem;
    /* padding-left: 1rem; */
    position:fixed;
    top:0px;
}
.login{
    /* background-color: violet; */
    display:flex;
    align-content: center;
    margin-right: 1rem;
    height: 40px;
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    padding:0.5rem;
}
.login:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin{
    background-color: #246A73;
    color:white;
    font-size:1rem;
    height: 40px;
    width:10%;
    padding:0.6rem;
    border-radius: 1rem;
    margin-right: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.signin:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.signin i{
    font-size: 1.5rem;
    background-color: #246A73;
    color:white;
    /* color:black; */
    height:20px;
    margin-right: 1rem;
    /* background-color: white; */
}
.signin a{
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.login a{
    text-decoration: none;
}
.logo{
    height: 50px;
    display: flex;
    width: 30%;
    font-size: 1rem;
    /* background-color: red; */
    padding-left: 2rem;
}
.logo img{
    border-radius: 50%;
}
.logo p{
    font-size: 2rem;
    font-weight: 900;
    font-style: bold ;
    padding:0.4rem
}
.footone{
    /* margin-top:1rem; */
    background-color:black;
    text-align: center;
    padding-top:1.4rem;
    height:10%px;
}
.footone p,h4 {
    background-color: black;
    margin-bottom: 0.5rem;
    color: white;
}
.foottwo{
    /* height:200px; */
    height:30vh;
    /* background-color: aquamarine; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footdiv{
    width:18%;
    position:relative;
    height:70%;
    /* background-color: blue; */
    padding:1.3rem;
    font-weight: 600;
}
.footdiv ul,.footdiv li{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 100;
    list-style: none;
}
.one p{
    font-size: 0.9rem;
    font-weight: 100;
}
.log{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: -50px;
}
.log p{
    font-size: 1rem;
    font-weight: 600;    
}
.one img{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.footthree{
    background-color:white;
    color:rgb(0,0,0,0.5);
    /* height: 40px; */
    height:18%;
    text-align:center;
    padding-top :0.7rem;
}
.socmedia{
    margin-top: 1rem;
}
.socmedia i{
    margin-right:0.5rem;
}
.sidebar{
    /* background-color: red; */
    height:40px;
    width:25%;
}
.btnone{
    color:Black;
    font-size:2rem;
    font-weight:700;
    position:absolute;
    left:5%;
    /* line-height: 10px; */
}
.name{
    padding-left:0.2rem;
}
.sidemenu{
    position: fixed;
    background-color:rgb(255,255,255,0.5);
    height:100vh;
    width:25vw;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    left:-550px;
}
.menu ul{
    background-color:rgb(255,255,255,0.1);
}
.menu li{
    background-color:rgb(255,255,255,0.1);
}
.name h1{
    background-color:rgb(255,255,255,0.5);
}
.sidemenu .menu{
    position: absolute;
    width:95%;
    padding:0.4rem;
}
.sidemenu .btntwo i{
    color:rgb(0,0,0,0.5);
    /* opacity: 0; */
    font-size:1.8rem;
    position:absolute;
    top:3px;
    left:90%;
}
.sidemenu .menu li{
    margin-top:6px;
    padding:1rem;
    color:black;
    list-style: none;
}
.sidemenu .menu a{
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.sidemenu .menu i{
    margin-right:1rem;
}
#check{
    display:none;
}
.sidemenu .menu li:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);   
}
.sidemenu .name h1{
    display:inline;
    background-color:rgb(255,255,255,0.5);
}
.btnone:hover{
    font-size:2.2rem;
    cursor:pointer;
}
.sidemenu .btntwo i:hover{
    font-size:2rem;
    cursor:pointer;
}
#check:checked ~ .sidemenu{
    left:0px;
}
.menu{
    background-color:rgb(255,255,255,0.5);
}
/* -----------main---------- */
main{
    /* top:50px; */
    margin-top:4rem;
    margin-left:4rem;
    margin-right:4rem;
    position:relative;
}
.abt{
    /* background-image: url("hotelbook.jpeg");
    background-size:contain; */
    height:70vh;
    width:100%;
    position:relative;
    /* left:9%; */
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content:center; */
    margin-bottom:1rem;
    /* flex-direction: row; */

}
li.lili{
    margin: 0px;
}
.abt{
    background-image: url("hotelbook.jpeg");
    background-size:contain;
    height:70vh;
    width:100%;
    position:relative;
    background-repeat:repeat;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom:1rem;
    flex-direction: column;

}
.abt h1{
    background-color:rgb(0,0,0,0.7);
    height:45px;
    width:50%;
    text-align: center;
    color:rgb(255,255,255);
    background-color: transparent;
    /* color:rgb(0,0,0,0.7); */
}
.abtp{
    background-color:rgb(0,0,0,0.7);
    height:45px;
    width:50%;
    text-align: center;
    color:rgb(255,255,255);
    background-color: transparent;
    /* color:rgb(0,0,0,0.7); */
}
details{
    /* background-color:rgb(255,255,255,0.6); */
    /* border:2px solid black; */
    background-color:transparent;
}
summary{
    /* background-color:rgb(255,255,255,0.6); */
    background-color:transparent;
}
.sump{
    background-color:transparent;
}
.stay{
    /* background-color:red; */
    /* height:700px; */
    height:95%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width:100%;
}
.st{
    /* width:310px;
    height:300px; */
    width:350px;
    height:400px;
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: flex-end; */
    margin:1rem;
    font-size:1.3rem;
    font-weight:600;
    border-radius: 30px;
    box-shadow:0px 0px 6px rgb(0,0,0,0.9); 
    color:white;  
}
.ser{
    margin-top:3%;
    margin-bottom:3%;
    height:400px;
    display:flex;
    justify-content: center;
    /* background-color: palevioletred;
    margin-left:4%; */
}
.ser1{
    background-color: violet;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5); 
    border:2px solid #246A73;
    width:30%;
}
.ser1content{
    /* background-color: purple; */
    margin-right:-2%;
    position:relative;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);  
    border:3px solid #ffd700;
    top:10%;
    z-index: 1;
    height:80%;
    width:35%;
    box-sizing: border-box;
    padding:2%;
}
.ser1contentt{
    padding:2%;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);  
    border:3px solid #ffd700;
    margin-left:-2%;
    position:relative;
    top:10%;
    z-index: 1;
    height:80%;
    width:35%;
}
.se1{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url("hotel11.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se2{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url("hotel44.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se3{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url("hotel22.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se4{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url("hotel33.jpeg");
    background-size: cover;
   
}
.ratediv{
    display:flex;
    justify-content: space-between;
}
.rating{
    position: relative;
    z-index:1;
    top: 25px;
    right: 10px;
    font-size: 20px; /* adjust the font size */
    color: black; 
    background-color: transparent;
}
.rating span{
    background-color: transparent;
    color: #ffd700;
}

.st h3{
    margin-top:2%;
    margin-right:2%;
    margin-left:2%;
}
.st p{
    font-size: 16px;
    margin:2%;
    font-weight:15;
}
.st:hover{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5); 
}
.stt{
    height:70%;
    background-color: pink;
    display:flex;
    flex-direction:row-reverse;
}
.st1{
    background-image: url("hotel22.jpeg");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: cover;
    background-repeat: round;
}
.st2{
    /* background-image: url("WhatsApp\ Image\ 2025-03-08\ at\ 7.32.55\ PM.jpeg"); */
    background-image: url("hotel11.jpeg");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: cover;
    background-repeat: round;
}
.st3{
    background-image: url("hotel33.jpeg");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: cover;
    background-repeat: round;
}
.stay3{
    /* background-image: url("delhi.jpeg"); */
    /* background-color: red; */
    background-size: cover;
    /* background-repeat: round; */
}
.stay2{
    /* background-image: url("pariss.jpeg"); */
    /* background-color:blue; */
    background-size: cover;
    background-repeat: round;
}
.stay1{
    /* background-image: url("nyc.jpeg"); */
    /* background-color: yellow; */
    background-size: cover ;
    background-repeat: round;
}
.serv{
    height:400px;
    display:flex;
    justify-content: space-evenly;
    margin-left:4%;
}
.ser11{
    width:40%;
}
.ser1contenty{
    width:40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.se11{
    background-image: url("restaurent.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se22{
    background-image: url("pool.jpeg");
    background-size: cover;
    background-repeat: round;
}
.se33{
    background-image: url("club.jpeg");
    background-size: cover;
    background-repeat: round;
}

.searchhotel {
    /* background: red; */
    padding: 20px;
    padding:1%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    /* width:48%; */
    /* gap: 10px;
    width:48%;
    top:-50px;
    left:25%; */
    position: relative;
    flex-wrap: wrap;
}

input,button,select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pointdiv{
    /* background-color: aqua; */
    margin-top:2rem;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: darkblue;
}
.hoteldiv{
    /* background-color: pink; */
    height:30vh;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
}
.hoteldiv ul{
    list-style:none;
    margin:1rem;
}
.hoteldiv li{
    list-style:none;
    margin:1rem;
}
.ddd{
    height:70%;
    width:18%;
    padding:1.5rem;
    /* background-color: aliceblue; */
}